.login{
  background-image: url("src/assets/login_backgroung.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.login_wrapper{
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.fields{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.email_field, .password_field{
  width: 100%;
}
.sign_in{
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.line{
  width: 100%;
  color: #575656;
  margin: 30px 0 20px 0;
}
.new_account{
  display: flex;
  gap: 20px;
  align-items: center;
}
.acc_type{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin: 20px 0 10px 0;
}
.acc_type_item{
  display: flex;
  gap: 10px;
  color: #575656;
}
