<div class="login">

  <div class="login_wrapper">
    <span class="sign_in">Finish registration</span>
    <form class="fields" [formGroup]="registerForm">
      <input class="email_field" type="text" pInputText placeholder="First Name" formControlName="firstname"/>
      <input class="email_field" type="text" pInputText placeholder="Last Name" formControlName="lastname"/>
      <input class="email_field" type="tel" pInputText placeholder="Phone" formControlName="phone"/>
      <p-dropdown class="email_field" [style]="{'width':'100%'}" [options]="countries" formControlName="selectedCountry" placeholder="Country" optionLabel="name" [filter]="true" [filterBy]="selectedCountry.name" ></p-dropdown>

      <input class="email_field" type="text" pInputText placeholder="City" formControlName="city"/>
      <div class="address">
        <input class="street_field" type="text" pInputText placeholder="Street" formControlName="street"/>
        <input class="number_field" type="text" pInputText placeholder="Number" formControlName="number"/>
      </div>
      <button pButton type="button" label="Confirm" class="p-button-secondary sign_up_button" (click)="register()" type="submit"></button>
    </form>


  </div>
</div>
