<div class="main-container">
  <div class="main-part-container">
    <div *ngIf="imagesAreLoaded" class="images">
      <p-galleria [containerStyle]="{'max-width':'950px' ,'margin':'15px auto' }" [responsiveOptions]="responsiveOptions" [showIndicators]="true" [showItemNavigators]="true"
                  [showThumbnails]="false"
                  [value]="images">
        <ng-template let-item pTemplate="item">
          <img [src]="item.url" alt="image" style="width: 100%; height: 100%; max-width: 100%"/>
        </ng-template>
      </p-galleria>
    </div>
    <div class="about-accommodation-container">
      <div class="about">
        <div class="about-left">
          <span class="name"> {{ accommodation.name }} </span>

          <div class="main-info">
            <span class="address">
              {{ accommodation.address.street }}, {{ accommodation.address.number }}, {{ accommodation.address.city }}
            </span>
            <span class="guestNumber">
              {{accommodation.minGuests }}-{{ accommodation.maxGuests }} guests
            </span>
          </div>

          <div class="description">{{ accommodation.description }}</div>
          <div *ngIf="reviewsLoaded" class="averageGrade">
            <div class="star-rating">
              <i *ngFor="let star of stars" class="fa fa-star"></i>
              <i *ngIf="accommodation.averageGrade % 1 !== 0" class="fa fa-star-half"></i>
            </div>
            <span class="average-rating">
              Rating {{ accommodation.averageGrade.toFixed(1) }} ({{ accommodation.reviews.length }}
              reviews)
            </span>
          </div>
          <div class="deadline_price">
            <span class="deadline">
              Cancellation deadline: {{accommodation.cancellationDeadline}} days
            </span>

            <span class="deadline"> Price per
              {{accommodation.pricePerGuest ? 'guest' : 'night'}}  </span>
          </div>
        </div>

        <div class="about-right">
          <div (click)="goToHostProfile(accommodation.host.id)" class="host-text-icon">
            <svg
              height="25"
              viewBox="0 0 448 512"
              width="30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M96 128a128 128 0 1 0 256 0A128 128 0 1 0 96 128zm94.5 200.2l18.6 31L175.8 483.1l-36-146.9c-2-8.1-9.8-13.4-17.9-11.3C51.9 342.4 0 405.8 0 481.3c0 17 13.8 30.7 30.7 30.7H162.5c0 0 0 0 .1 0H168 280h5.5c0 0 0 0 .1 0H417.3c17 0 30.7-13.8 30.7-30.7c0-75.5-51.9-138.9-121.9-156.4c-8.1-2-15.9 3.3-17.9 11.3l-36 146.9L238.9 359.2l18.6-31c6.4-10.7-1.3-24.2-13.7-24.2H224 204.3c-12.4 0-20.1 13.6-13.7 24.2z"
              />
            </svg>
            {{  hostName }}
          </div>
          <form (ngSubmit)="onCheck(true)" *ngIf="isGuest" [formGroup]="reservation_form" class="form">
            <p-calendar [disabledDates]="disabledDates" [inputStyle]="{'height':'100%'}" [minDate]="minimumDate"
                        class="dates" dateFormat="dd.mm.yy" formControlName="startDate"
                        placeholder="Start date"></p-calendar>
            <p-calendar [disabledDates]="disabledDates" [minDate]="minimumDate" class="dates" dateFormat="dd.mm.yy"
                        formControlName="endDate" placeholder="End date"></p-calendar>
            <p-inputNumber [inputStyle]="{'width':'30%'}" [showButtons]="true" class="guests-input" formControlName="guests"
                           inputId="stacked" placeholder="Guests"></p-inputNumber>
            <button (click)="onCheck(false)" class="check-price" pButton type="button"> Check</button>

            <span class="total-price-description"> Total Price : {{ totalPrice }} €</span>
            <span class="price-night-description"> Price Per Night : {{ pricePerNight }} €</span>

            <button id="reserveButton" class="p-button-primary search_button" label="Reserve" pButton type="submit"></button>
          </form>
          <button (click)="addToFavorites(accommodation.id)" *ngIf="!isFavorite" class="add-favorites" pButton>Add to
            favorites
          </button>
          <button (click)="removeFavorite(accommodation.id)" *ngIf="isFavorite" class="add-favorites" pButton>Remove
            favorite
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="accommodation.amenities && accommodation.amenities.length > 0" class="amenities-container">
      <span class="amenities-text"> Amenities: </span>
      <br/><br/><br/>
      <div
        *ngFor="let amenity of accommodation.amenities; let isEven = odd"
        [class.even-amenity]="isEven"
        class="amenity-item"
      >
        <span class="pi pi-check-circle"> </span>
        <span class="amenity"> {{ amenity }} </span>
      </div>
    </div>

    <div class="map-container">
      <span class="map-text"> Address: </span>
      <app-google-map *ngIf="accommodationLoaded" [inputAddress]="accommodation.address"
                      [style]="{'margin':'20px auto'}"></app-google-map>
    </div>
    <div class="reviews-container">
      <span class="review-text"> Guest reviews: </span>
      <div *ngIf="reviewsLoaded && accommodation.reviews.length > 0" class="reviews">

        <div *ngFor="let review of accommodation.reviews" class="review">
          <div class="header-review">
            <img alt="commenter" class="reviewer-photo" height="80" src="assets/reviewer.jpg" width="80">
            <div class="header-review-author">
              <span class="comment-author">{{review.author.firstName + ' ' + review.author.lastName}}</span>
              <span class="comment-date"> {{review.date |  date : 'dd.MM.yyyy HH:mm'}}</span>


            </div>
          </div>
          <div class="comment-text">{{review.comment}}</div>
          <div class="spacer"></div>
          <div class="comment-date"></div>
          <div class="comment-footer">
            <p-rating [(ngModel)]="review.grade" [cancel]="false" [readonly]="true"></p-rating>
            <button (click)="reportAccommodationReview(review.id)" *ngIf="!viewOnly" class="p-button-primary option-button" label="Report" pButton
                    type="button"></button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
