.notifications-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notification{
  height: 100px;
  width: 200px;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 17.54878px 35.09756px 0px rgba(171, 190, 209, 0.3);
}
.settings{
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 10px;
}
.setting{
  font-size: 16px;
  padding: 10px;
  border: 1px #808080 solid;
  border-radius: 7px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  align-items: center;
}
.apply-button{
  margin-top: 20px;
}
