    <div class="top-container">
      <img
        src="../../../assets/landing_page_pic.png"
        class="landing_page_image"
      />
      <div class="header-container">
        <div class="top-container-text">
          <span style="color: rgba(45, 45, 45, 1)">Make your holiday</span>
          <br>
          <span style="color: rgba(245, 189, 79, 1)">memorable</span>
        </div>
        <div class="location-set-container">
          <input for="location" class="location" placeholder="Where to?">
          <div class="date-number-container">
            <input type="date" for="dates" class="dates" value="Add dates">
            <input type="number" for="guests" class="guest-number" placeholder="Guests" min="1" max="20">
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-app-container">
      <div class="mobile-app-container-aux">
        <p class="mobile-app-text">Get our mobile app! </p>
        <div class="app-container">
          <a href="#"> <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/5d96367e-8448-493b-9359-a18512cce75d?"/> </a>
          <a href="#"> <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/52e5d204-002b-4ff4-9b02-5b1a7ef71d3f?"/> </a>
        </div>
      </div>
    </div>

    <div class="offer-container">
      <p class="main-offer-text">Escape reality and go anywhere, anytime</p>
      <p class="supplementary-offer-text"> With us you can escape reality and travel wherever your hearth wishes! </p>
      
      <div class="offer-item-container1">
              <div class="offer-item-container2">
                
                  <div class="offer-item">
                    <img src="../../../assets/apartment_pic.png" class="offer-item-pic"/>
                    <p class="offer-item-title">Apartments</p>
                    <p class="offer-item-description"> Check some of our best apartments available. </p>
                    
                    <button class="see-more-container" pButton type="button" [routerLink]="['/accommodation-list']">
                      <span class="see-more-span">See more</span>
                      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8c9a576f-9a0a-4acf-bd20-cebfe6a92040?" />
                    </button>
                  </div>
                

                  <div class="offer-item">
                    <img src="../../../assets/hotel_pic.png" class="offer-item-pic"/>
                    <p class="offer-item-title">Hotels</p>
                    <p class="offer-item-description"> If you need comfor at night, hotel's the right place. </p>
                    
                    <button class="see-more-container" pButton type="button" [routerLink]="['/accommodation-list']">
                      <span class="see-more-span">See more</span>
                      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8c9a576f-9a0a-4acf-bd20-cebfe6a92040?"/>
                    </button>
                  </div>

                  <div class="offer-item">
                    <img src="../../../assets/resort_pic.png" class="offer-item-pic"/>
                    <p class="offer-item-title">Resorts</p>
                    <p class="offer-item-description"> Welcome to our resorts, your idyllic retreat from the ordinary </p>
                    
                    <button class="see-more-container" pButton type="button" [routerLink]="['/accommodation-list']">
                      <span class="see-more-span">See more</span>
                      <img
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/8c9a576f-9a0a-4acf-bd20-cebfe6a92040?"
                      />
                    </button>
                  </div>

                  <div class="offer-item">
                    <img src="../../../assets/vila_pic.png" class="offer-item-pic"/>
                    <p class="offer-item-title">Vilas</p>
                    <p class="offer-item-description"> You need a lot of space? Try some of our finest vilas. </p>
                    
                    <button class="see-more-container" pButton type="button" [routerLink]="['/accommodation-list']">
                      <span class="see-more-span">See more</span>
                      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8c9a576f-9a0a-4acf-bd20-cebfe6a92040?"/>
                    </button>
                  </div>
        </div>
      </div>
    </div>
      
    <div class="footer-container">
      <div class="footer-aux-container">
        <div class="footer-main-container">
          <div class="footer-text-links">
            <span class="footer-main-text">Booking</span>
            <span class="footer-links">
              <a href="#" class="footer-link">Link One</a>
              <a href="#" class="footer-link">Link Two</a>
              <a href="#" class="footer-link">Link Three</a>
              <a href="#" class="footer-link">Link Four</a>
              <a href="#" class="footer-link">Link Five</a>
            </span>
          </div>  


          <div class="mail-subscription">
            <span class="subscribe-text">Subscribe</span>
            <div class="e-mail-container">
              <input for="e-mail" type="email" class="" placeholder="Enter your email"> 
              <button class="subscribe-button">Subscribe</button>
            </div>
            <span class="privacy-policy-container">
              By subscribing you agree to with our Privacy Policy
            </span>
          </div>
        </div>
        
        
        <div class="useless-stuff-container"></div>
        <div class="useless-stuff">
          <div class="footer-unneccessary-info">
            <div class="footer-unneccessary-item">Privacy Policy</div>
            <div class="footer-unneccessary-item">Terms of Service</div>
            <div class="footer-unneccessary-item">Cookies Settings</div>
          </div>
          <div class="rights">© 2023 Booking. All rights reserved.</div>
        </div>
      </div>