    <div class="top-container">
      <img
        src="../../../assets/landing_page_pic.png"
        class="img-4"
      />
      <div class="div-13">
        <div class="top-container-text">
          <span style="color: rgba(45, 45, 45, 1)">Make your holiday</span>
          <br>
          <span style="color: rgba(245, 189, 79, 1)">memorable</span>
        </div>
        <div class="location-set-container">
          <input for="location" class="location" placeholder="Where to?">
          <div class="date-number-container">
            <input type="date" for="dates" class="dates" value="Add dates">
            <input type="number" for="guests" class="guest-number" placeholder="Guests" min="1" max="20">
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-app-container">
      <div class="mobile-app-container-aux">
        <p class="mobile-app-text">Get our mobile app! </p>
        <div class="app-container">
          <a href="#"> <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/5d96367e-8448-493b-9359-a18512cce75d?"/> </a>
          <a href="#"> <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/52e5d204-002b-4ff4-9b02-5b1a7ef71d3f?"/> </a>
        </div>
      </div>
    </div>

    <div class="offer-container">
      <p class="main-offer-text">Escape reality and go anywhere, anytime</p>
      <p class="supplementary-offer-text"> Lorem ipsum dolor sit amet consectetur adipiscing elit. </p>
      
      <div class="offer-item-container1">
              <div class="offer-item-container2">
                
                  <div class="offer-item">
                    <img src="../../../assets/landing_page_pic.png" class="offer-item-pic"/>
                    <p class="offer-item-title">Apartments</p>
                    <p class="offer-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    
                    <div class="see-more-container">
                      <span class="see-more-span">See more</span>
                      <img
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/8c9a576f-9a0a-4acf-bd20-cebfe6a92040?"
                        class="img-11"
                      />
                    </div>
                  </div>
                

                  <div class="offer-item">
                    <img src="../../../assets/landing_page_pic.png" class="offer-item-pic"/>
                    <p class="offer-item-title">Apartments</p>
                    <p class="offer-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    
                    <div class="see-more-container">
                      <span class="see-more-span">See more</span>
                      <img
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/8c9a576f-9a0a-4acf-bd20-cebfe6a92040?"
                        class="img-11"
                      />
                    </div>
                  </div>

                  <div class="offer-item">
                    <img src="../../../assets/landing_page_pic.png" class="offer-item-pic"/>
                    <p class="offer-item-title">Apartments</p>
                    <p class="offer-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    
                    <div class="see-more-container">
                      <span class="see-more-span">See more</span>
                      <img
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/8c9a576f-9a0a-4acf-bd20-cebfe6a92040?"
                        class="img-11"
                      />
                    </div>
                  </div>

                  <div class="offer-item">
                    <img src="../../../assets/landing_page_pic.png" class="offer-item-pic"/>
                    <p class="offer-item-title">Apartments</p>
                    <p class="offer-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    
                    <div class="see-more-container">
                      <span class="see-more-span">See more</span>
                      <img
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/8c9a576f-9a0a-4acf-bd20-cebfe6a92040?"
                        class="img-11"
                      />
                    </div>
                  </div>
        </div>
      </div>
    </div>
      
      <!-- <div class="div-51">
        <div class="div-52">
          <div class="column-5">
            <div class="div-53">
              <span
                style="
                  font-family: Raleway, -apple-system, Roboto, Helvetica,
                    sans-serif;
                  font-weight: 500;
                "
              >
                Curabitur efficitur ante vel mi bibendum, et maximus nisl
                ultricies. Morbi nec tempus dui, sit amet facilisis nisl.
                <br />
                Ut vel urna quis urna tristique tempus. Etiam lobortis est at
                mauris eleifend, id tempor purus ultricies.
                <br />
                Curabitur efficitur luctus enim nec sollicitudin. Fusce venenatis
                venenatis lorem eu accumsan. Nunc sit amet mi vitae odio porttitor
                feugiat. Sed quis sem elementum, viverra ligula at, lobortis
                magna. Praesent congue nibh in dolor rutrum, et euismod quam
                elementum.
                <br />
              </span>
              <span
                style="
                  font-family: Raleway, -apple-system, Roboto, Helvetica,
                    sans-serif;
                  font-weight: 700;
                "
              >
                Mauris justo felis, iaculis quis sagittis
              </span>
              <span
                style="
                  font-family: Raleway, -apple-system, Roboto, Helvetica,
                    sans-serif;
                  font-weight: 500;
                "
              >
                sit amet, feugiat vitae est. Aliquam porta ex elit, sit amet
                rutrum turpis egestas viverra. Quisque at libero purus.
              </span>
            </div>
          </div>
          <div class="column-6">
            <img
              loading="lazy"
              src="../../../assets/budva_montenegro.png"
              class="img-16"
            />
          </div>
        </div>
      </div>
    </div> -->
    
    <div class="footer-container">
      <div class="footer-aux-container">
        <div class="footer-main-container">
          <div class="footer-text-links">
            <span class="footer-main-text">Booking</span>
            <span class="footer-links">
              <a href="#" class="footer-link">Link One</a>
              <a href="#" class="footer-link">Link Two</a>
              <a href="#" class="footer-link">Link Three</a>
              <a href="#" class="footer-link">Link Four</a>
              <a href="#" class="footer-link">Link Five</a>
            </span>
          </div>  


          <div class="mail-subscription">
            <span class="subscribe-text">Subscribe</span>
            <div class="div-67">
              <input for="e-mail" type="email" class="div-68" placeholder="Enter your email"> 
              <button class="div-69">Subscribe</button>
            </div>
            <span class="div-70">
              By subscribing you agree to with our Privacy Policy
            </span>
          </div>
        </div>
        
        
        <div class="div-71"></div>
        <div class="div-72">
          <div class="footer-unneccessary-info">
            <div class="footer-unneccessary-item">Privacy Policy</div>
            <div class="footer-unneccessary-item">Terms of Service</div>
            <div class="footer-unneccessary-item">Cookies Settings</div>
          </div>
          <div class="div-77">© 2023 Booking. All rights reserved.</div>
        </div>
      </div>