<div class="properties-wrapper">
    <div class="header-card">
        <h1>
            <i class="pi pi-calendar-times"></i> My Reservations
        </h1>
    </div>
    <div class="central-panel">
        <div class="reservations-table">
            <p-table #dt1 [value]="filteredReservations" [tableStyle]="{'min-width': '100rem'}"     [rows]="10"
                     [showCurrentPageReport]="true"
                     [rowsPerPageOptions]="[10, 25, 50]"
                     [paginator]="true"
                     [loading]="loading"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [globalFilterFields]="['property', 'guest',  'status']">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <div class="filter">
                            <label>Status Filter:</label>
                            <p-dropdown [options]="statusOptions" [(ngModel)]="selectedStatus" placeholder="Select a status" (onChange)="filterReservations()"></p-dropdown>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="property" style="width:20%">Property <p-sortIcon field="property"></p-sortIcon></th>
                        <th pSortableColumn="host" style="width:20%">Host <p-sortIcon field="host"></p-sortIcon></th>
                        <!--            <th pFrozenColumn="guest" style="width:20%">Location </th>-->
                        <th pSortableColumn="start date" style="width:20%">Start Date <p-sortIcon></p-sortIcon></th>
                        <th pSortableColumn="end date" style="width:20%">End Date <p-sortIcon></p-sortIcon></th>
                        <th pSortableColumn="price" style="width:15%">Price <p-sortIcon></p-sortIcon></th>
                        <th pSortableColumn="status" style="width:15%">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th pFrozenColumn="cancelation" style="width:20%">Cancel</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-reservation>
                    <tr>
                      <td>
                        <div class="row-double"  >
                          <p class="clickable-p" [pTooltip]="reviewTooltip" (click)="goToAccommodation(reservation.accommodationId)">{{reservation.accommodationName}}</p>
                          <div class="buttons-row">
                            <button pButton type="button" label="Add review" class="p-button-primary option-button" (click)="showAccommodationModal()" [disabled]="reservation.reservationStatus.toString() != 'Done' || sevenDaysPassed(reservation.endDate)"></button>
                            <button pButton type="button" label="Remove" class="p-button-outlined option-button" (click)="removeAccommodationReview(reservation.accommodationId)" [disabled]="reservation.reservationStatus.toString() != 'Done' || sevenDaysPassed(reservation.endDate)"></button>

                          </div>
                          <p-dialog header="Add accommodation review" [(visible)]="accommodationReviewVisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
                            <div class="review-modal">
                              <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" [style]="{'width':'100%'}" placeholder="Add your review" [(ngModel)]="accommodationReview"></textarea>
                              <div class="review-modal-rating">
                                <div class="review-modal-rating-star">
                                  <span>Your rating: </span>
                                  <p-rating  [(ngModel)]="accommodation_rating_value" [cancel]="false"></p-rating>
                                </div>

                                <button pButton type="button" label="Submit" class="p-button-primary" (click)="addAccommodationReview(reservation.accommodationId)"></button>

                              </div>
                            </div>


                          </p-dialog>
                        </div>

                      </td>
                        <td>
                          <div class="row-double">
                            <p class="clickable-p" (click)="goToHostProfile(reservation.hostId)">{{reservation.hostEmail}}</p>
                            <div>
                              <button id="add-review-button" pButton type="button" label="Add review" class="p-button-primary option-button" (click)="showHostModal()" [disabled]="reservation.reservationStatus.toString() != 'Done'"></button>
                              <button pButton type="button" label="Remove" class="p-button-outlined option-button" (click)="removeHostReview(reservation.hostId)" [disabled]="reservation.reservationStatus.toString() != 'Done'"></button>



                            </div>
                             <p-dialog header="Add host review" [(visible)]="hostReviewVisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
                              <div class="review-modal">
                                <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" [style]="{'width':'100%'}" placeholder="Add your review" [(ngModel)]="hostReview"></textarea>
                                <div class="review-modal-rating">
                                  <div class="review-modal-rating-star">
                                    <span>Your rating: </span>
                                    <p-rating  [(ngModel)]="host_rating_value" [cancel]="false"></p-rating>
                                  </div>
                                  <button pButton type="button" label="Submit" class="p-button-primary" (click)="addHostReview(reservation.hostId)"></button>
                                </div>
                              </div>
                            </p-dialog>
                          </div>



                        </td>
                        <td>{{reservation.startDate | date : 'dd.MM.yyyy'}}</td>
                        <td>{{reservation.endDate | date : 'dd.MM.yyyy'}}</td>
                        <td>{{reservation.price}}</td>
                        <td>{{reservation.reservationStatus}}</td>

                        <td><div class="buttons">
                            <button pButton type="button" label="Cancel" class="p-button-primary option-button" (click)="cancelReservation(reservation.id)" [disabled]="reservation.reservationStatus.toString() != 'Pending' && reservation.reservationStatus.toString() != 'Approved'"></button>
                        </div></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
