<div class="main-container">
  <div class="accommodations-filters">
    <div class="filter-accommodation-container">
      <div
        class="accommodations"
        *ngIf="accommodations && accommodations.length > 0"
      >
        <div
          class="accommodation-outside-container"
          *ngFor="let accommodation of paginatedAccommodations"
        >
          <app-accommodation-card (clicked)="onAccommodationClicked($event)"
                                  [accommodation]="accommodation"></app-accommodation-card>
        </div>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalItems"
                     [rowsPerPageOptions]="[3, 5, 10, 20, 30]"></p-paginator>
      </div>
    </div>
  </div>
</div>
