
    <div class="main-container">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/560e2ff3-c5db-4e1b-a093-3b7f13ec74bb?" class="background-image" />
      



        <span class="clear-input-container">
            <input class="clear-input" type="text" placeholder="Search:">
            <button class="clear-input-button" aria-label="Clear input" title="Clear input"></button>
            <button class="search-button"> <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/20801688-199a-4765-810a-d4f8639c6c4a?"/> </button>
        </span>

      <div class="div-14">
        <span class="filter-text">Filters:</span>
        <div class="div-16">
          <div class="div-17">
            <div class="column">
              
                <div class="filtering-option">
                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4b95ea95-4e5c-491a-8e19-3fcee82a4467?"/>
                  <span>Country</span>
                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7bbfa935-6791-4c46-be26-f5285f881dc8?"/>
                </div>

                <div class="filtering-option">
                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a5facdf5-2a1b-429e-a735-b909182b60bd?"/>
                  <span>City</span>
                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/dd46c0b8-cf17-47e2-b859-f52c4b2a7639?"/>
                </div>

                <div class="filtering-option">
                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/2e2a5a2b-a5b5-434d-a599-d36d6188a0dd?"/>
                  <span>Shipments</span>
                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e3792c27-e670-4447-927e-799d880941f7?"/>
                </div>

                <div class="filtering-option">
                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9d49300b-5203-4423-825e-20a0304f0906?"/>
                  <span>Guests</span>
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/baf6cab1-1588-4054-bbc1-a3515c5b7bb9?"
                    class="img-13"
                  />
                </div>

                <div class="filtering-option">
                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b7beb958-46ea-475c-9747-1d914c052e19?"/>
                  <span>Dates</span>
                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/1d2c936c-2712-4a31-9172-b946061bff34?"/>
                </div>
              </div>

            <div class="column-2">
              <div class="apartment-outside-container">
                <div class="apartment-inner-container">
                  <div class="column-3">
                    
                    <div class="apartman-prvi">
                      <span class="appartment-title">Studentski dom Nikola Tesla</span>
                      <span class="appartment-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </span>
                      
                      <div class="apartment-data">
                        <div class="apartment-city">
                          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/93208d1a-05f7-480b-b904-e76b1225d02f?"/>
                          <span class="appartment-detail">Novi Sad</span>
                        </div>
                        <div class="apartment-guest-limit">
                          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ff35a59a-fcad-4007-93c0-1697898ed546?" class="no-guests-icon"/>
                          <span class="appartment-detail">3</span>
                        </div>

                        <div class="apartment-cancelation">
                          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/801eab51-5061-4a65-9f8b-88301ae65ae8?"/>
                          <div class="apartment-detail">Free cancelation</div>
                        </div>
                      </div>
                      
                    <button class="more-about-apartman" pButton type="button" [routerLink]="['/login']">
                        <span class="apartment-details">Details</span>
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/214aa1d8-18cd-49cd-837a-318914bdd2cb?"/>
                      </button>

                    </div>
                  </div>
                  
                  <div class="column-4">
                    <img src="../../../assets/dom_nikola_tesla.jpg" class="accommodation-picture"/>
                  </div>

                </div>
              </div>

              <div class="apartment-outside-container">
                <div class="apartment-inner-container">
                  <div class="column-3">
                    
                    <div class="apartman-prvi">
                      <span class="appartment-title">Studentski dom Slobodan Bajic</span>
                      <span class="appartment-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </span>
                      
                      <div class="apartment-data">
                        <div class="apartment-city">
                          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/93208d1a-05f7-480b-b904-e76b1225d02f?"/>
                          <span class="appartment-detail">Novi Sad</span>
                        </div>
                        <div class="apartment-guest-limit">
                          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ff35a59a-fcad-4007-93c0-1697898ed546?" class="no-guests-icon"/>
                          <span class="appartment-detail">3</span>
                        </div>

                        <div class="apartment-cancelation">
                          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/801eab51-5061-4a65-9f8b-88301ae65ae8?"/>
                          <div class="apartment-detail">Free cancelation</div>
                        </div>
                      </div>
                      
                      <button class="more-about-apartman" pButton type="button" [routerLink]="['/login']">
                        <span class="apartment-details">Details</span>
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/214aa1d8-18cd-49cd-837a-318914bdd2cb?"/>
                      </button>

                    </div>
                  </div>
                  
                  <div class="column-4">
                    <img src="../../../assets/dom_slobodan_bajic.jpg" class="accommodation-picture"/>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
