.clear-input {
  padding: 1%;
  width: 90%;
}

.search-container {
    position: relative;
    display: inline-block;
    position: relative;
    background-color: var(--blue-gray-blue-gray-50, #f8fafc);
    display: flex;
    width: 838px;
    max-width: 100%;
    gap: 8px;
    padding: 14px;
  }
  
  .clear-input-button {
    /* button position */
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 0;
    /* button appearane */
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    appearance: none;
    border: none;
    border-radius: 50%;
    background: gray;
    margin: 0;
    padding: 2px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    /* hide the button initially */
    display: none;
  }
  
  .clear-input-button:hover {
    background: darkgray;
  }
  
  .clear-input--touched:focus + .clear-input-button,
  .clear-input--touched:hover + .clear-input-button,
  .clear-input--touched + .clear-input-button:hover {
    display: inline-flex;
    padding: 5%;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 961px;
    width: 100%;
    align-items: center;
    padding: 44px 80px 44px 50px;
    background-image: url("https://cdn.builder.io/api/v1/image/assets/TEMP/560e2ff3-c5db-4e1b-a093-3b7f13ec74bb?");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .search-button {
    width: 10%;
    object-fit: contain;
    object-position: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
  }
  .accommodations-filters {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1470px;
    flex-direction: column;
    align-items: flex-start;
    margin: 6px 0 41px;
  }
  @media (max-width: 991px) {
    .accommodations-filters {
      max-width: 100%;
      margin-bottom: 40px;
    }
  }
  .filter-text {
    color: #6a6a6a;
    margin-left: 23px;
    font: 400 16px/24px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .filter-text {
      margin-left: 10px;
    }
  }
  .div-2 {
    align-self: stretch;
    margin-top: 16px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .div-3 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-3 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 18%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
 
  .filter-text {
    color: var(
      --light-text-default-text,
      var(--blue-gray-blue-gray-800, #1e293b)
    );
    font: 400 16px/24px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .filter-text {
      display: none;

    }
  }
 
  .filtering-option {
    background-color: var(--base-white, #fff);
    display: flex;
    gap: 8px;
    padding: 12px 16px;
  }
  @media (max-width: 991px) {
    .filtering-option {
      justify-content: center;
    }
  }

  .accommodations {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 82%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .accommodations {
      width: 100%;
    }
  }
  .accommodation-outside-container {
    border-radius: 10.968px;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 17.54878px 35.09756px 0px rgba(171, 190, 209, 0.3);
    flex-grow: 1;
    width: 100%;
    margin: 16px auto 0;
    padding: 24px 32px;
    margin-bottom: 2%;
  }
  @media (max-width: 991px) {
    .accommodation-outside-container {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .accommodation-inner-container {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .accommodation-inner-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .accommodation-info {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 76%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .accommodation-info {
      width: 100%;
    }
  }
  .apartman-prvi {
    z-index: 1;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .apartman-prvi {
      max-width: 100%;
      margin-top: 34px;
    }
  }
  .accommodation-name {
    color: var(--Black, #000);
    font: 700 31px/39px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .accommodation-name {
      max-width: 100%;
    }
  }
  .accommodation-description {
    color: var(--Black, #000);
    margin-top: 9px;
    font: 400 18px/26px Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .accommodation-description {
      max-width: 100%;
    }
  }
  .accommodation-data {
    align-self: flex-start;
    display: flex;
    width: 91px;
    max-width: 100%;
    flex-direction: column;
    margin: 20px 0 0 10px;
  }
  .accommodation-detail {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 5%;
  }
  .img-16 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
  }
  .accommodation-data {
    color: #3a3d40;
    align-self: flex-start;
    flex-grow: 1;
    font: 400 14px/26px Poppins, sans-serif;
    margin-top: -1%;    
  }
  @media (max-width: 991px) {
    .accommodation-data {
      white-space: initial;
    }
  }
  .apartment-guest-limit {
    display: flex;
    margin-top: 11px;
    justify-content: space-between;
    gap: 13px;
  }
  .no-guests-icon {
    aspect-ratio: 1.07;
    object-fit: contain;
    object-position: center;
    width: 16px;
    overflow: hidden;
    max-width: 100%;
    margin-left: 3%;
  }
  .max-guests {
    color: #353739;
    align-self: flex-start;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 16px/24px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .max-guests {
      white-space: initial;
    }
  }
  .apartment-cancelation {
    align-self: flex-start;
    display: flex;
    margin-top: 9px;
    width: 100%;
    gap: 9px;
  }
  .more-about-accommodation {
    justify-content: center;
    border-radius: 5.484px;
    border: 2.194px solid #f5c451;
    background-color: #f5bd4f;
    align-self: flex-start;
    display: flex;
    margin-top: 3em;
    width: 25em;
    max-width: 100%;
    padding: 9px 22px;
  }
  @media (max-width: 991px) {
    .more-about-accommodation {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .apartment-details {
    color: #fff;
    text-align: center;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 18px/26px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .apartment-details {
      white-space: initial;
    }
  }
  .accommodation-picture {
    object-fit: fill;
    width: 35em;
    height: 20em;
    overflow: hidden;
    border-radius: 1%;
  }
  @media (max-width: 991px) {
    .accommodation-picture {
      margin: 24px 0;
      width: 95%;
    }
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 76%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
    .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 24%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .img-25 {
    aspect-ratio: 1.19;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
  }
  @media (max-width: 991px) {
    .img-25 {
      margin-top: 24px;
    }
  }