.outer-main-container {
  background-color: #fff;
  display: flex;
  padding-bottom: 50px;
  flex-direction: column;
}
.inner-main-container {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1395px;
  flex-direction: column;
  align-items: start;
  margin: 58px 0 34px;
}
@media (max-width: 991px) {
  .inner-main-container {
    max-width: 100%;
    margin-top: 40px;
  }
}
.section-info {
  display: flex;
  align-items: start;
  gap: 13px;
  padding: 0 20px;
}

.section-info-text {
  color: #3a3d40;
  flex-grow: 1;
  flex-basis: auto;
  font: 700 40px/24px Poppins, sans-serif;
}
.outer-main-section {
  align-self: center;
  margin-top: 60px;
  width: 100%;
  max-width: 1302px;
  padding: 0 -30px;
}
@media (max-width: 991px) {
  .outer-main-section {
    max-width: 100%;
    margin-top: 40px;
  }
}
.inner-main-section {
  display: flex;
}
@media (max-width: 991px) {
  .inner-main-section {
    flex-direction: column;
    align-items: stretch;
  }
}
.basic-account-info {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 59%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .basic-account-info {
    width: 100%;
  }
}
.fields {
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 47px 80px 47px 23px;
}
@media (max-width: 991px) {
  .fields {
    max-width: 100%;
    padding: 0 20px;
  }
}

.outer-info-segment {
  align-self: start;
  display: flex;
  margin-top: 49px;
  width: 585px;
  max-width: 100%;
  padding-right: -8px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .outer-info-segment {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.inner-info-segment {
  color: #6a6a6a;
  margin: auto 0;
  font: 700 20px/24px Poppins, sans-serif;
}
.info-input {
  color: var(
    --light-text-secondary-text,
    var(--blue-gray-blue-gray-500, #64748b)
  );
  max-width: 388px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--light-forms-border, #cbd5e1);
  background-color: var(--base-white, #fff);
  flex-grow: 1;
  justify-content: center;
  padding: 12px 10px;
  font: 400 16px/24px Inter, sans-serif;
}

@media (max-width: 991px) {
  .first-name {
    padding-right: 4px;
  }
}

.button-actions {
  display: flex;
  margin-top: 70px;
  padding-right: 36px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .button-actions {
    justify-content: center;
    padding-right: 20px;
    margin-top: 40px;
  }
}
.apply-button {
  color: var(--light-text-inverse-text, var(--base-white, #fff));
  justify-content: center;
  align-items: start;
  border-radius: 4px;
  border: none;
  background-color: #f6c666;
  flex-grow: 1;
  padding: 8px 7px;
  font: 400 14px/20px Inter, sans-serif;
}

.cancel-button {
  color: var(
    --light-text-secondary-text,
    var(--blue-gray-blue-gray-500, #64748b)
  );
  justify-content: center;
  align-items: start;
  border-radius: 4px;
  background-color: var(--base-white, #fff);
  aspect-ratio: 1.9444444444444444;
  padding: 8px 3px;
  font: 400 14px/20px Inter, sans-serif;
}
.delete-button {
  color: var(--light-text-warning-text, var(--orange-orange-500, #f97316));
  justify-content: center;
  align-items: start;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid var(--light-utility-warning-background, #f97316);
  flex-grow: 1;
  padding: 8px 7px;
  font: 500 14px/20px Inter, sans-serif;
}
.outer-change-password-container {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 41%;
}
@media (max-width: 991px) {
  .outer-change-password-container {
    width: 100%;
  }
}
.inner-change-password-container {
  border-radius: 0px 30px 30px 0px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(254, 208, 116, 0.87);
  z-index: 1;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 80px;
}
@media (max-width: 991px) {
  .inner-change-password-container {
    max-width: 100%;
    padding: 0 20px;
  }
}
.change-pass-text {
  color: #3a3d40;
  margin-top: 179px;
  font: 400 30px/24px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .change-pass-text {
    margin-top: 40px;
  }
}
.change-password {
  color: var(
    --light-text-secondary-text,
    var(--blue-gray-blue-gray-500, #64748b)
  );
  max-width: 100%;
  align-self: start;
  border-radius: 4px;
  border: 1px solid var(--light-forms-border, #cbd5e1);
  background-color: var(--base-white, #fff);
  margin-top: 32px;
  width: 364px;
  justify-content: center;
  font: 400 16px/24px Inter, sans-serif;
}
@media (max-width: 991px) {
  .change-password {
    margin-left: 2px;
  }
}

.change-pass-button {
  color: var(--light-text-inverse-text, var(--base-white, #fff));
  justify-content: center;
  align-items: start;
  border-radius: 4px;
  background-color: var(--blue-gray-blue-gray-500, #64748b);
  width: 80px;
  max-width: 100%;
  margin: 48px 0 128px;
  padding: 8px;
  font: 400 14px/20px Inter, sans-serif;
  border: none;
}
@media (max-width: 991px) {
  .change-pass-button {
    margin: 40px 0;
  }
}

.edit-account-icon {
  font-size: 3em;
}