<div class="outer-main-container">
  <div class="inner-main-container">
    <div class="section-info">
      <span class="edit-account-icon pi pi-user-edit"> </span>
      <span class="section-info-text">Edit Account</span>
    </div>

    <div class="outer-main-section">
      <div class="inner-main-section">
        <form class="fields" [formGroup]="editAccountForm" (ngSubmit)="onSubmit()">
          <h2>Basic info:</h2>
          <div class="outer-info-segment">
            <div class="inner-info-segment"> <ul> <li>First Name</li> </ul> </div>
            <input type="text" class="info-input" value="{{ account.firstName }}" formControlName="firstname"/>
          </div>

          <div class="outer-info-segment">
            <div class="inner-info-segment"> <ul> <li>Last Name</li> </ul> </div>
            <input type="text" class="info-input" value="{{ account.lastName }}" formControlName="lastname"/>
          </div>

          <div class="outer-info-segment">
            <div class="inner-info-segment"> <ul> <li>Email</li> </ul> </div>
            <input type="email" class="info-input" value="{{ account.email }}" formControlName="email"/>
          </div>

          <div class="outer-info-segment">
            <div class="inner-info-segment"> <ul> <li>Country</li> </ul> </div>
            <p-dropdown class="info-input" [style]="{'width':'100%'}" [options]="countries" formControlName="selectedCountry" placeholder="{{ account.address?.country }}" optionLabel="name" [filter]="true" [filterBy]="selectedCountry.name"/>
          </div>

          <div class="outer-info-segment">
            <div class="inner-info-segment"> <ul> <li>City</li> </ul> </div>
            <input type="text" class="info-input" value="{{ account.address?.city }}" formControlName="city"/>
          </div>

          <div class="outer-info-segment">
            <div class="inner-info-segment"> <ul> <li>Street</li> </ul> </div>
            <input type="text" class="info-input" value="{{ account.address?.street }}" formControlName="street"/>
          </div>

          <div class="outer-info-segment">
            <div class="inner-info-segment"> <ul> <li>Number</li> </ul> </div>
            <input type="text" class="info-input" value="{{ account.address?.number }}" formControlName="number"/>
          </div>

          <div class="outer-info-segment">
            <div class="inner-info-segment"> <ul> <li>Phone</li> </ul> </div>
            <input type="text" class="info-input" value="{{ account.phone }}" formControlName="phone"/> 
          </div>


          <div class="button-actions">
            <button pButton type="submit" class="apply-button">Apply changes</button>
            <button pButton type="button" class="cancel-button">Cancel</button>
            <button pButton type="button" class="delete-button">Delete account</button>
          </div>
        </form>

        <div class="outer-change-password-container">
          <div class="inner-change-password-container">
            <span class="change-pass-text">Change password:</span>

            <p-password class="change-password" placeholder="Old password" [toggleMask]="true"/>
            <p-password class="change-password" placeholder="New password" [toggleMask]="true"/>
            <button pButton type="button" class="change-pass-button">Change</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
