<div class="login">

  <!-- <form class="login_wrapper" [formGroup]="loginForm" (ngSubmit)="login()"> -->
  <!--   <span class="sign_in">Sign In</span> -->
  <!--   <div class="fields"> -->
  <!--     <input class="email_field" type="email" pInputText placeholder="Email" formControlName="username"/> -->
  <!--     <p-password class="password_field" placeholder="Password" formControlName="password" [toggleMask]="true" [feedback]="false"></p-password> -->
  <!--   </div> -->
  <!---->
  <!--   <button pButton type="button" label="Sign In" class="p-button-secondary" type="submit"></button> -->
  <!--   <hr class="line"/> -->
  <!--   <div class="new_account"> -->
  <!--     <span>New Account?</span><button pButton  type="button" [routerLink]="['/register']" label="Sign Up" class="p-button-secondary"></button> -->
  <!--   </div> -->
  <!---->
  <!-- </form> -->
</div>
