<div class="navbar">
  <div class="spacer"></div>
  <div class="logo" [routerLink]="['']" *ngIf="this.keycloakService.accountConfirmed">
    <span class="logo_icon pi pi-map"></span>
    <span class="logo_text">Booking</span>
  </div>
  <div class="spacer"></div>
  <div class="buttons" *ngIf="this.keycloakService.accountConfirmed">
    <button *ngIf="role == null" pButton [routerLink]="['/login']" type="button" label="Login"
      class="p-button-outlined login_button"></button>
    <button *ngIf="role == null" pButton type="button" (click)="openRegisterPage()" routerLinkActive="active"
      label="Register" class="p-button register_button"></button>
    <app-notification *ngIf="role != null"></app-notification>
    <button *ngIf="role != null && role=='Host'" pButton type="button" [routerLink]="['/host-profile',id]"
      routerLinkActive="active" label="My Account" class="p-button profile-button" icon="pi pi-user"
      iconPos="right"></button>
    <button *ngIf="role != null && role=='Guest'" pButton type="button" [routerLink]="['/guest-profile']"
      routerLinkActive="active" label="My Account" class="p-button profile-button" icon="pi pi-user"
      iconPos="right"></button>
    <button *ngIf="role != null && role=='Admin'" pButton type="button" [routerLink]="['/admin-profile']"
      routerLinkActive="active" label="My Account" class="p-button profile-button" icon="pi pi-user"
      iconPos="right"></button>
  </div>


</div>
