
<div class="navbar">
  <div class="spacer"></div>
  <div class="logo" [routerLink]="['']">
    <span class="logo_icon pi pi-map"></span>
    <span class="logo_text">Booking</span>
  </div>
  <div class="spacer"></div>
  <div class="buttons">
    <button pButton [routerLink]="['/login']" type="button" label="Login" class="p-button-outlined login_button"></button>
    <button pButton type="button" [routerLink]="['/register']" routerLinkActive="active" label="Register" class="p-button register_button"></button>

  </div>


</div>
