
<div class="navbar">
  <div class="spacer"></div>
  <div class="logo" [routerLink]="['']">
    <span class="logo_icon pi pi-map"></span>
    <span class="logo_text">Booking</span>
  </div>
  <div class="spacer"></div>
  <div class="buttons">
    <button *ngIf="role == null" pButton [routerLink]="['/login']" type="button" label="Login" class="p-button-outlined login_button"></button>
    <button *ngIf="role == null" pButton type="button" [routerLink]="['/register']" routerLinkActive="active" label="Register" class="p-button register_button"></button>
<!--
    <button *ngIf="role != null" pButton type="button" (click)="logOut()"  label="Log Out" class="p-button register_button"></button>
-->
    <button *ngIf="role != null && role=='ROLE_Host'" pButton type="button" [routerLink]="['/host-profile',id]" routerLinkActive="active" label="My Account" class="p-button profile-button" icon="pi pi-user" iconPos="right"></button>
    <button *ngIf="role != null && role=='ROLE_Guest'" pButton type="button" [routerLink]="['/guest-profile']" routerLinkActive="active" label="My Account" class="p-button profile-button" icon="pi pi-user" iconPos="right"></button>
    <button *ngIf="role != null && role=='ROLE_Admin'" pButton type="button" [routerLink]="['/admin-profile']" routerLinkActive="active" label="My Account" class="p-button profile-button" icon="pi pi-user" iconPos="right"></button>
  </div>


</div>
