<div class="profile-wrapper">
  <div class="header-card">
    <div class="cover-image"></div>
    <div class="profile-info">
      <div class="profile-photo"></div>
      <div class="about">
        <div class="name_role"><span class="name">John Smith</span><span class="role">HOST</span></div>

        <span class="city">New York</span>
      </div>
      <div class="buttons">
        <button pButton type="button" label="Log Out" class="p-button-text logout" icon="pi pi-sign-out"></button>
        <button pButton type="button" label="Edit profile" class="p-button-primary edit-profile"></button>

      </div>
    </div>
  </div>
  <div class="central-panel">
    <div class="option-buttons">
      <button pButton type="button" label="My Properties" class="p-button-primary option-button"></button>
      <button pButton type="button" label="Reservations" class="p-button-primary option-button"></button>
      <button pButton type="button" label="Reports" class="p-button-primary option-button"></button>

    </div>
    <span class="reviews-text">Recent reviews:</span>
    <div class="reviews">
      <div class="review">
        <div class="header-review">
          <img alt="commenter" height="80" width="80" src="assets/reviewer.jpg" class="reviewer-photo">
          <span class="comment-author">Deadpool</span>
        </div>
        <div class="comment-text">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum</div>
        <div class="spacer"></div>
        <div class="comment-footer">
          <p-rating [(ngModel)]="val"></p-rating>
          <button pButton type="button" label="Report" class="p-button-primary option-button"></button>
        </div>
      </div>
      <div class="review">
        <div class="header-review">
          <img alt="commenter" height="80" width="80" src="assets/reviewer.jpg" class="reviewer-photo">
          <span class="comment-author">Deadpool</span>
        </div>
        <div class="comment-text">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum</div>
        <div class="spacer"></div>
        <div class="comment-footer">
          <p-rating [(ngModel)]="val"></p-rating>
          <button pButton type="button" label="Report" class="p-button-primary option-button"></button>
        </div>
      </div>
      <div class="review">
        <div class="header-review">
          <img alt="commenter" height="80" width="80" src="assets/reviewer.jpg" class="reviewer-photo">
          <span class="comment-author">Deadpool</span>
        </div>
        <div class="comment-text">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum</div>
        <div class="spacer"></div>
        <div class="comment-footer">
          <p-rating [(ngModel)]="val"></p-rating>
          <button pButton type="button" label="Report" class="p-button-primary option-button"></button>
        </div>
      </div>
      <div class="review">
        <div class="header-review">
          <img alt="commenter" height="80" width="80" src="assets/reviewer.jpg" class="reviewer-photo">
          <span class="comment-author">Deadpool</span>
        </div>
        <div class="comment-text">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum</div>
        <div class="spacer"></div>
        <div class="comment-footer">
          <p-rating [(ngModel)]="val"></p-rating>
          <button pButton type="button" label="Report" class="p-button-primary option-button"></button>
        </div>
      </div>
    </div>

  </div>
</div>
