<div class="login">

  <div class="login_wrapper">
    <span class="sign_in">Sign In</span>
    <div class="fields">
      <input class="email_field" type="email" pInputText placeholder="Email"/>
      <p-password class="password_field" placeholder="Password" [(ngModel)]="value" [toggleMask]="true"></p-password>
    </div>

    <button pButton type="button" label="Sign In" class="p-button-secondary" [routerLink]="['/edit-account']"></button>
    <hr class="line"/>
    <div class="new_account">
      <span>New Account?</span><button pButton  type="button" [routerLink]="['/register']" label="Sign Up" class="p-button-secondary"></button>
    </div>

  </div>
</div>
