<div class="wrapper">
  <div class="header-card">
    <span class="pi pi-building icon"></span>
    <span class="title">New property</span>
  </div>
  <div class="central-panel">
    <div class="left-forms">
      <ng-form class="form" [formGroup]="new_accommodation_form">

        <input class="field" type="text" pInputText placeholder="Name" formControlName="name"/>
        <p-dropdown formControlName="selectedType" [options]="types" optionLabel="name"
                    placeholder="Property type:" [style]="{'width':'100%'}"></p-dropdown>
        <div class="guests">
          <p-inputNumber [inputStyle]="{'width':'100%'}" [showButtons]="true" inputId="stacked" placeholder="Min Guests"> </p-inputNumber>
          <p-inputNumber [inputStyle]="{'width':'100%'}" [showButtons]="true" inputId="stacked" placeholder="Max Guests"> </p-inputNumber>
        </div>
        <span class="amenities">Amenities:</span>
        <div  class="fields-checkbox">
          <div class="checkbox-field" *ngFor="let amentity of amenities">
            <p-checkbox name="group" [value]="amentity" formControlName="selected_amenities"
                        [inputId]="amentity"></p-checkbox>
            <label class="label" [for]="amentity">{{ amentity }}</label></div>
          <input class="new_amenity" type="text" pInputText placeholder="Add amenity" formControlName="newAmenity" (keyup.enter)="addAmenity($any($event).target.value)"/>
        </div>
        <span class="amenities">Photos:</span>
        <p-fileUpload class="file_upload" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" [maxFileSize]="1000000">
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>

      </ng-form>
    </div>
    <div class="right_forms">
      <!--<app-map></app-map>-->
    </div>

  </div>
</div>
